.btn-dark{
    background : linear-gradient(45deg, rgb(201, 200, 200) , rgb(0, 0, 0))
}
.btn-danger{
    background : linear-gradient(45deg,red,black)
}
.btn-info{
    background : linear-gradient(45deg,skyblue,rgb(28, 28, 28))
    
}
.bg-dark{
    background : linear-gradient(45deg,rgb(28, 28, 28),rgb(76, 1, 252))
}